* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 
}
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}
.container{
  height: 500px;
  width: 500px;
  background-color:rgb(42, 42, 42);
  border-radius: 10px;
 box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
 
}
.screen{
  width: 486px;
  height: 100px;
  margin-left: 7px;
  margin-top: 10px;
  text-align: right;
  padding: 10px;
  font-size: 2em;
  background-color: rgb(233, 235, 235);
  border-radius: 10px;
 border-color: black;

}
.bottom{
  width: 480px;
  height: 370px ;
  
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  transition: background-color 0.3s ease;
font-size: x-large;
}
.bottom button{
  border-radius:10px ;
}
.bottom button:hover {
  background-color: #bcbaba;
}

.bottom .operator {
  background-color: #cac7c7;
  font-size: x-large;
}
.bottom .operator:hover {
  background-color: #827e7c;  
}

.bottom .numbers {
  font-size: x-large;
}
.bottom .op{
  font-size: x-large;

}
.bottom .equal{
  font-size: x-large;
  background-color: #323232; 
  color: rgb(171, 168, 168);

}
.bottom .equal:hover{
  background-color: #c2bdbd;
  color: black; 

}